body{
	background-color: #eeeeee;
	font-family: monospace;
}
label {
	display: inline-block;
	width: 120px;
	text-align: right;
}
textarea
{
	width:100%;
}
.success {
	color: green;
}

.error {
	color: red;
}

.indent {
	position: relative;
  	left: 30px;
}